$input-group-addon-bg: $body-bg;

@import "~bootstrap/scss/forms";

ini-input {
    &.ini-form-control-inline {
        gap: $spacer;
        display: flex;
        align-items: center;

        > * {
            flex: 0 0 auto;
            width: auto;
        }

        .ini-form-label {
            margin-bottom: 0;
        }
    }

    .input-group {
        .form-control {
            border-left: 0;
            border-right: 0;
        }
    }
}
