$input-group-addon-bg: $body-bg;

@import "~bootstrap/scss/forms/labels";
@import "~bootstrap/scss/forms/form-text";
@import "~bootstrap/scss/forms/input-group";
@import "~bootstrap/scss/forms/form-control";

ini-input {
    &.ini-form-control-inline {
        gap: $spacer;
        display: flex;
        align-items: center;

        .ini-form-label {
            margin-bottom: 0;
            flex-shrink: 0;
        }

        .ini-form-control {
            flex: 1;
        }
    }

    .input-group {
        &-has-prefix {
            .form-control {
                border-left: 0;
            }
        }
        &-has-suffix {
            .form-control {
                border-right: 0;
            }
        }
    }
}
