$select-color-dropdown-border-top: $dropdown-border-color;
$select-color-dropdown: $body-bg;
$input-border-width: $border-width;

@import "~tom-select/dist/scss/tom-select.bootstrap5";
@import "~bootstrap/scss/forms/labels";
@import "~bootstrap/scss/forms/form-text";
